<%= form_for(@task_list) do |f| %>
    <% if f.object.errors.any? %>
        <div class="error">
            Your task list could not be created
        </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Create Task List" %>
<% end %>